<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <style>
        {{ include('Resources/Ckeditor/administrativo/comum.ckeditor5.css.twig') }}
        {{ include('Resources/Ckeditor/administrativo/comum.css.twig') }}
        {{ include('Resources/Ckeditor/administrativo/comum.ckeditor5.css.twig') }}
    </style>
</head>
<body class="ck-content">
    {{ conteudo | raw }}
</body>
</html>
